@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* LANDING MAIN*/
#landing{
    cursor: url(../Media/Resources/Cursor_apunta.png),auto;
    background-image: url(../Media/Resources/Ladrillos\ tileables.png);
    background-repeat: repeat;
    background-size: 20%;
    background-position: center;
    overflow: auto;
}

#landing .landing_main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}

#landing .landing_main img{
    width: 50%;
}

#landing .landing_main .playdemo{
    background-color: burlywood;
    
    font-size: 45px;
    color: green;

    padding: 1rem;
    border-radius: 15px;
    border-color: aliceblue;
    border-style: solid;
    filter: drop-shadow(0 0 0.75rem black);
    
    font-family: girassol;
    text-align: center;
    
}

/* LANDING GALLERY */



/* ABOUT US */
#landing .aboutus{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}
.aboutus h1{
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
    
    font-size: 48px;
    color: burlywood;
    font-family: girassol;
    -webkit-text-stroke: .01px;
    -webkit-text-stroke-color: black;
}
.aboutus > p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: roboto;
    
}

/* ABOUT US CARDS */
.aboutuscards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: auto;
    width: 100%;
}

.aboutuscards .threecards{
    display:flex;
    flex-direction:row;
    margin-bottom: 3em;
    gap: 5em;

}

/* ------------------------- */

.creditscard{
    position: relative;
    width: 462px;
    height: 486px;
}

.creditscard .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}

.creditscard .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.creditscard .back{
    transform: perspective(600px) rotateY(180deg);
}

.creditscard .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.creditscard .back {
    background-image: url(../media/Team/painting_back.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.creditscard .back h1{
    font-family: "Girassol";
    justify-content: center;
    display: flex;
    margin-top: 1.5em;
    width: 70%;
    font-size: 35px;
}

.creditscard .back a{
    background-color: #00000052;
    padding: 0.5em;
    font-family: "Kanit";
    width: 30%;
    margin: 0.2em;
    color: black;
    border-radius: 15px;
}

.creditscard .back a:Hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.creditscard .back h3, p{
    font-family: "Kanit";
    margin-top: 0.3em;
}

.creditscard:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.creditscard:hover .back{
    transform: perspective(600px) rotateY(360deg);
}



/* FAQ */
#landing .faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}

.faq .faqcontainer{
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
    margin-right: 5em;
    margin-left: 5em;
    align-items: center;
    gap: 5em; 
}

.faqcontainer img{
    max-width: 50%;
    min-height: auto;    
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
#landing .faq h1{
    margin-top: 1em;
    font-family: berkshire swash;
    font-size: 48px;
    color: burlywood;
}


.questions h2{
    color: burlywood;
    font-size: 24px;
    font-family: roboto;
}
.questions p{
    color:white;
    font-size: 12px;
    font-family: roboto;
}



/* FORMULARIO */
.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}
.form img{
    margin-top: 5em;
    margin-bottom: 5em;
    width: 15%;
    height: auto;

}


.formulario h1{
    font-size: 1em;
    font-family: roboto;
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
    color: burlywood;
    
}

.formulario{
    width: 50%;
    margin-top:5em;
    margin-bottom: 5em;
    padding: 1em;
    
    display: flex;
    
    
    border: 0.2em solid white;
    border-radius: 1em;

    filter: drop-shadow(0 0 15rem rgb(0, 0, 0));
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #00000081;
}

.formulario .cuadro_pregunta{
    border-radius: 0.3em;  
}

.formulario .enviar_button{
    border-radius: 0.3em;
}







/* FOOTER */

#footer {
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}

#footer .social_media {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    color: #6b92db;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.social_media div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social_media div i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.copyr {
    display: flex;
    gap: 1em;
    color: rgb(255, 255, 255);
    font-family: "Source Code Pro";
    font-size: 12px;
    margin-bottom: 1em;
}

#footer .copyr i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyr p {
    width: 100%;
    font-family: "Source Code Pro";
    margin: 0;
    text-align: center;
}

.footer a {
    display: flex;
    flex: row;
    gap: 1em;
    font-family: "Source Code Pro";
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
}

.footer a:hover {
    color: #6b92db;
}



/* MENÚ */
body{
height: 100vh;
width: 100%;
}

#menu{
    width: 100%;
    height: 100%;

}

#menu img{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#menu .buttons{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 26.5rem;
    padding-right: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#menu .buttons button{
    background-color: black;
    color: aliceblue;
    font-size: 25px;
    font-family: "Berkshire Swash", serif;
    padding: 1rem;
    border-radius: 4px;
}

#menu .buttons #button-play{
    display: flex;
    padding: 2rem;
    font-size: 36px;
    margin-bottom: 5rem;
 }

 #menu .buttons .button-information{
    display: flex;
    flex-direction: row;
    gap: 10rem;

 }

.info-character {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute;
    top: 0.5rem;
    left: 27rem;
    width: 100%;
    max-width: 400px; 
}

#text-box {
    position: absolute;
    margin-left: 74rem;
    background-color: #496566;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "Berkshire Swash", serif;
    border-radius: 3px;
    border: 5px solid rgb(0, 0, 0);
    margin-top: 2rem;
}

.characterMenuContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 74rem;
}

.characterMenu {
    margin-top: 6rem;
    width: 100%;
    max-width: 500px; 
    height: 100%;
    max-height: 550px; 
    display: none;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

/* CHARACTERS */

#characters img{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/* Slideshow container */
.characters-container {
    max-width: 720px;
    position: relative;
    margin: auto;
    margin-top: 4em;
}

/* Hide the images by default */
/* .mySlides {
    display: none;
} */

.show-slide {
    display: block;
}

.hide-slide {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}



/* ESTO SE TIENE QUE BORRAR */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #gamebg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  #traductorContainer {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 300px;
    height: 200px;
    transform: translate(-50%, 100%);
    transition: transform 1s ease;
    cursor: pointer;
  }
  #traductorContainer.visible {
    transform: translate(-50%, 0);
  }
  #traductorContainer.exit {
    transform: translate(-50%, 100%);
  }
  #traductor {
    width: 100%;
    height: 100%;
    display: block;
  }
  #text {
    display: none;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .star, .rectangle {
    position: absolute;
    filter: blur(100px); /* Difuminar los bordes */
}

/* Estilo de la estrella */
.star {
    width: 350px;
    height: 350px;
    background-color: yellow;
    mix-blend-mode: hard-light;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    top: 10px; /* Ajusta según la imagen */
    left: 280px; /* Ajusta según la imagen */
    animation: fireEffect 0.8s infinite alternate ease-in-out;
}

@keyframes fireEffect {
    0% { transform: scale(1); opacity: 0.8; filter: blur(1000px); }
    30% { transform: scale(1.1); opacity: 1; filter: blur(1000px); }
    60% { transform: scale(1.05); opacity: 0.9; filter: blur(1000px); }
    100% { transform: scale(1); opacity: 0.8; filter: blur(1000px); }
}


.rectangle {
    width: 280px;
    height: 600px;
    mix-blend-mode: hard-light;
    background-color: rgba(0, 255, 255, 0.5);
    top: 20px; /* Ajusta según la imagen */
    left: 1470px; /* Ajusta según la imagen */
    animation: flicker 0.2s infinite alternate;
}


@keyframes flicker {
    0% { opacity: 0.8; }
    25% { opacity: 0.7;}
    50% { opacity: 0.6; }
    75% { opacity: 0.7;}
    100% { opacity: 0.8; }
}