@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* LANDING MAIN*/
#landing{
    cursor: url(../Media/Resources/Cursor_apunta.png),auto;
    background-image: url(../Media/Resources/Ladrillos\ tileables.png);
    background-repeat: repeat;
    background-size: 20%;
    background-position: center;
    overflow: auto;
}
#landing .landing_main a{
    text-decoration: none;
}

#landing .landing_main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}

#landing .landing_main img{
    width: 50%;
}

#landing .landing_main .playdemo{
    background-color: burlywood;
    
    font-size: 45px;
    color: green;

    padding: 1rem;
    border-radius: 15px;
    border-color: aliceblue;
    border-style: solid;
    filter: drop-shadow(0 0 0.75rem black);
    
    font-family: girassol;
    text-align: center;
    
}

/* LANDING GALLERY */



/* ABOUT US */
#landing .aboutus{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}
.aboutus h1{
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
    
    font-size: 48px;
    color: burlywood;
    font-family: girassol;
    -webkit-text-stroke: .01px;
    -webkit-text-stroke-color: black;
}
.aboutus > p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: roboto;
    
}

/* ABOUT US CARDS */
.aboutuscards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: auto;
    width: 100%;
}

.aboutuscards .threecards{
    display:flex;
    flex-direction:row;
    margin-bottom: 3em;
    gap: 5em;

}

/* ------------------------- */

.creditscard{
    position: relative;
    width: 462px;
    height: 486px;
}

.creditscard .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}

.creditscard .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.creditscard .back{
    transform: perspective(600px) rotateY(180deg);
}

.creditscard .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.creditscard .back {
    background-image: url(../media/Team/painting_back.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.creditscard .back h1{
    font-family: "Girassol";
    justify-content: center;
    display: flex;
    margin-top: 1.5em;
    width: 70%;
    font-size: 35px;
}

.creditscard .back a{
    background-color: #00000052;
    padding: 0.5em;
    font-family: "Kanit";
    width: 30%;
    margin: 0.2em;
    color: black;
    border-radius: 15px;
}

.creditscard .back a:Hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.creditscard .back h3, p{
    font-family: "Kanit";
    margin-top: 0.3em;
}

.creditscard:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.creditscard:hover .back{
    transform: perspective(600px) rotateY(360deg);
}



/* FAQ */
#landing .faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}

.faq .faqcontainer{
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
    margin-right: 5em;
    margin-left: 5em;
    align-items: center;
    gap: 5em; 
}

.faqcontainer img{
    max-width: 50%;
    min-height: auto;    
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
#landing .faq h1{
    margin-top: 1em;
    font-family: berkshire swash;
    font-size: 48px;
    color: burlywood;
}


.questions h2{
    color: burlywood;
    font-size: 24px;
    font-family: roboto;
}
.questions p{
    color:white;
    font-size: 12px;
    font-family: roboto;
}



/* FORMULARIO */
.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}
.form img{
    margin-top: 5em;
    margin-bottom: 5em;
    width: 15%;
    height: auto;

}


.formulario h1{
    font-size: 1em;
    font-family: roboto;
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
    color: burlywood;
    
}

.formulario{
    width: 50%;
    margin-top:5em;
    margin-bottom: 5em;
    padding: 1em;
    
    display: flex;
    
    
    border: 0.2em solid white;
    border-radius: 1em;

    filter: drop-shadow(0 0 15rem rgb(0, 0, 0));
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #00000081;
}

.formulario .cuadro_pregunta{
    border-radius: 0.3em;  
}

.formulario .enviar_button{
    border-radius: 0.3em;
}







/* FOOTER */

#footer {
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-90deg, rgba(0,0,0,0.75) 0%, rgba(99,99,99,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%), linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(0,0,0,0.75) 100%);
}

#footer .social_media {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    color: #6b92db;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.social_media div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social_media div i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.copyr {
    display: flex;
    gap: 1em;
    color: rgb(255, 255, 255);
    font-family: "Source Code Pro";
    font-size: 12px;
    margin-bottom: 1em;
}

#footer .copyr i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyr p {
    width: 100%;
    font-family: "Source Code Pro";
    margin: 0;
    text-align: center;
}

.footer a {
    display: flex;
    flex: row;
    gap: 1em;
    font-family: "Source Code Pro";
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
}

.footer a:hover {
    color: #6b92db;
}



/* MENÚ */
    
#menuContent{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

#fondoMenu{
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu .buttons{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 1.5rem;
    gap: 2rem;
    margin-left: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

#menu .buttons button{
    background-color: black;
    color: aliceblue;
    font-size: 21px;
    font-family: "Berkshire Swash", serif;
    padding: 1rem;
    border: 10px solid black;
}

#menu .buttons #button-play{
    display: flex;
    padding: 2rem;
    font-size: 36px;
 }

 #menu .buttons .button-information{
    display: flex;
    align-items: flex-end;
    gap: 10rem;

 }

 .info-character {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-left: 8%;
}

#text-box {
    position: absolute;
    background-color: #496566;
    color: white;
    padding: 10px 20px;
    float: center;
    font-size: 30px;
    font-family: "Berkshire Swash", serif;
    border-radius: 3px;
    border: 5px solid rgb(0, 0, 0);
    margin-top: 2rem;
}

#character-name {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.characterMenuContainer {
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characterMenu {
    position: absolute;
    width: auto; 
    height: auto; 

}

.hidden {
    display: none;
}
.visible {
    display: block;
}

/* CHARACTERS */

.character-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Media/Resources/Img/Characters/homeBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#characters {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 80%;
}

#characters h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.screen-container {
    position: relative;
    width: 400px;
    height: 250px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lever {
    position: absolute;
    right: 800px;
    top: 50%;
    transform: translateY(-100%) translateX(1600%) rotate(90deg);
    width: 20px;
    height: auto;
    cursor: pointer;
}

.characters-container {
    position: relative;
    width: 1000px;
    height: 700px;
    overflow: hidden;
}

.characterCH {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
    left: -100%;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.characterCH-active {
    left: 0;
    opacity: 1;
}

/* CARTAS METODO DE VENTA */
#fondoCartas{
    width: 100%;
    height: 100%;
    position: absolute;
}
#cartasContent{
    display: flex;
    flex-direction: column;
}

.tituloCartas{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 60px;
    font-family: "Berkshire Swash", serif;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.shopcard{
    position: relative;
    width: 350px;
    height: 550px;
}

.shopcard .face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
    border: 10px solid black;
}

.shopcard .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.shopcard .back{
    transform: perspective(600px) rotateY(180deg);
}

.shopcard .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
.shopcard .red{
    background-color: #fb3333 ;
}
.shopcard .yellow{
    background-color:  #fbbb5b ;
}
.shopcard .blue{
    background-color: #3bb3fb ;
}

.shopcard .darkred{
    background-color:#b34443 ;
}
.shopcard .darkyellow{
    background-color: #c79652 ;
}
.shopcard .darkblue{
    background-color:#3393c3;
}

.shopcard p{
    font-family: "Berkshire Swash", serif;
    font-size: 30px;
}

.shopcard.flipped .front{
    transform: perspective(600px) rotateY(180deg);
}

.shopcard.flipped .back{
    transform: perspective(600px) rotateY(360deg);
}



/* Juego */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #gamebg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
  }
  #mesa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 2;
  }

  #character {
    position: fixed;
    left: 50%;
    top: -700px; 
    transform: translate(-50%, -370px);
    transition: top 1s ease-in-out;
    z-index: 1;
  }
  
  
  #character.visible {
    top: 50%;
  }
  
  #character.exit-up {
    transform: translate(-50%, -250%);
  }
  #character.exit-down {
    transform: translate(-50%, 150%);
    transition: top 1s ease-in-out;
  }
  #traductorContainer {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    transition: transform 1s ease;
    cursor: pointer;
    z-index: 3;
  }
  #traductorContainer.visible {
    transform: translate(-50%, 0);
  }
  #traductorContainer.exit {
    transform: translate(-50%, 100%);
  }
  #traductor {
    display: block;
  }
  #text {
    display: none;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }


/* DENTRO DE JUEGO LAS ANIMACIONES DEL FONDO */

  .star, .rectangle {
    position: absolute;
    filter: blur(100px); /* Difuminar los bordes */
}

/* Estilo de la estrella */
.star {
    width: 350px;
    height: 350px;
    background-color: yellow;
    mix-blend-mode: hard-light;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    top: 10px; /* Ajusta según la imagen */
    left: 280px; /* Ajusta según la imagen */
    animation: fireEffect 0.8s infinite alternate ease-in-out;
}

@keyframes fireEffect {
    0% { transform: scale(1); opacity: 0.8; filter: blur(1000px); }
    30% { transform: scale(1.1); opacity: 1; filter: blur(1000px); }
    60% { transform: scale(1.05); opacity: 0.9; filter: blur(1000px); }
    100% { transform: scale(1); opacity: 0.8; filter: blur(1000px); }
}


.rectangle {
    width: 280px;
    height: 600px;
    mix-blend-mode: hard-light;
    background-color: rgba(0, 255, 255, 0.5);
    top: 20px; /* Ajusta según la imagen */
    left: 1470px; /* Ajusta según la imagen */
    animation: flicker 0.2s infinite alternate;
}


@keyframes flicker {
    0% { opacity: 0.8; }
    25% { opacity: 0.7;}
    50% { opacity: 0.6; }
    75% { opacity: 0.7;}
    100% { opacity: 0.8; }
}